{{ partial "header.html" . }}

<section>
  <div class="content">
    <div class="hero is-info">
      <div class="hero-body">
        <div class="container">
          <h2 class="title">
            {{.Title}}
          </h2>
        </div>
      </div>
    </div>
    <div class="container is-fluid">
      {{ range .Data.Pages }}
      <article>
        <time class="">{{ .Date.Format "Monday, January 2, 2006" }}</time>
        <p>
          <div class="subtitle">
            <a href="{{ .Permalink }}">
              {{ .Title }}
            </a>
            {{ range .Params.categories }}
              <a class="button is-info is-small" href="{{ $.Site.BaseURL }}/categories/{{.}}.html">
                #{{.}}
              </a>
            {{ end }}
          </div>
        </p>
      </article>
      {{ end }}
    </div>
  </div>
</section>

{{ partial "footer.html" . }}
