<header>
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {{ .Title }}
        </h1>
        <h2 class="subtitle">
          <div class="columns">
            {{ with .Params.subtitle }}
            <div class="column">
              {{ . }}
            </div>
            {{ end }}
            <div class="column">
              <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
                {{ .Date.Format "January 2, 2006" }}
              </time>
            </div>
          </div>
        </h2>
      </div>
    </div>
  </section>
</header>

<section class="section">
  <div class="container is-fluid">
    <div class="content">
      {{ .Content }}
    </div>
  </div>
</section>

<section class="section">
  {{ range $category := .Params.categories }}
  <a class="button is-info" href="{{ $.Site.BaseURL }}categories/{{ $category }}/">
    {{ $category }}
  </a>
  {{ end  }}
</section>
