    {{ if isset .Site.Params "TwitterID" }}
      <section>
        <div style="text-align:right;">
          <a href="https://twitter.com/{{ .Site.Params.TwitterID }}" class="twitter-follow-button" data-show-count="false">Follow @{{ .Site.Params.TwitterID }}</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
      </section>
    {{ end }}
    </div>
  </body>
</html>
